body { 
    font: 12px Arial;
}

path {
    stroke: steelblue;
    stroke-width: 2;
    fill: none;
}

.axis path,
.axis line {
    fill: none;
    stroke: grey;
    stroke-width: 1;
    shape-rendering: crispEdges;
}

.chart rect {
  fill: steelblue;
}

.chart text {
  fill: white;
  font: 200px sans-serif;
  text-anchor: end;
}

.box_horizontal {
    height: auto;
    float: left;
    padding: 4px;
}

#stats_div {
    width: 75%;
    height: 375px;
    border: 2px solid #0000001a;
}     

#view_forms_div {
    width: 22%;
    height: 375px;
    float: right;
    border: 2px solid #0000001a;
}

.option_styling {
    text-align: center;
    padding: 4px;
}

h5 {
    margin: 3px;
}

.mdl-card__supporting-text {
    width: auto;
}

#search_button {
    width: 204px;
}

.centered_content {
    display: block;
    margin-left: auto;
    margin-right: auto;
    align-items: center;
    justify-content: center;
}

.center_button {
    display: block !important;
    margin: 0 auto !important;
}

.center_input {
    display: block !important;
    margin: 0 auto !important;
}

center_select {
    width: 204px;
    display: block !important;
    margin: 0 auto !important;
}

#barchart {
    margin-top: 0px;
}
#timeline {
    margin-top: 0px;
}

.stats_select {
    margin-top: 30px;
}