h4 {
    clear: left;
}

pre {
    overflow: hidden;
}

.form_container {
    float: left; 
    margin: 10px; 
    width: 270px;
}

button {
    margin: 5px !important; 
    width: 90px; 
    z-index: 0;
}

.shiftleft {
	margin-right: 115px;
	margin-top: -5px !important;
}

.shiftup {
	margin-top : 0px !important;
}